.home-container {
    height: 90%;
    margin: 4%;
    margin-top: 10%;
}

.home-app {
    float: left;
    border-radius: 10px;
    width: 24%;
    height: 17%;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: 0.8%;
}

.home-app-icon {
    border-radius: 5px;
    width: 72%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 25px 47px 68px 20px rgba(0,0,0,0.34);
}

.home-app-label {
    margin-top: 9%;
    font-size: 60%;
    text-align: center;
}

.home-app-selected {
    background: #515153;
}